// MapLibre Native bridge configuration shared by every standalone example.
EXCLUDED_ARCHS[sdk=iphonesimulator*] = x86_64
MAPLIBRE_LDFLAGS = -lmbgl-freetype -lmbgl-harfbuzz -lmbgl-vendor-csscolorparser -lmbgl-vendor-icu -lmbgl-vendor-parsedate -lmlt-cpp -lz -lsqlite3 -lc++ -framework Metal -framework MetalKit -framework CoreGraphics -framework CoreLocation -framework CoreText -framework Foundation -framework UIKit -framework SystemConfiguration -framework CFNetwork -framework Security -ObjC
OTHER_LDFLAGS[sdk=iphoneos*] = $(inherited) -force_load $(PROJECT_DIR)/../../_shared/ios/Libraries/libmaplibre_bridge_ios.a -force_load $(PROJECT_DIR)/../../_shared/ios/Libraries/libmbgl-core.a $(MAPLIBRE_LDFLAGS)
OTHER_LDFLAGS[sdk=iphonesimulator*] = $(inherited) -force_load $(PROJECT_DIR)/../../_shared/ios/Libraries-simulator/libmaplibre_bridge_ios.a -force_load $(PROJECT_DIR)/../../_shared/ios/Libraries-simulator/libmbgl-core.a $(MAPLIBRE_LDFLAGS)
LIBRARY_SEARCH_PATHS[sdk=iphoneos*] = $(inherited) $(PROJECT_DIR)/../../_shared/ios/Libraries
LIBRARY_SEARCH_PATHS[sdk=iphonesimulator*] = $(inherited) $(PROJECT_DIR)/../../_shared/ios/Libraries-simulator
