<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <meta-data
            android:name="io.flutter.embedding.android.EnableImpeller"
            android:value="true" />
        <meta-data
            android:name="io.flutter.embedding.android.EnableFlutterGPU"
            android:value="true" />
    </application>
</manifest>
